<div class="about section">
  <h2>The Founders Explain</h2>
  <p>
    We are widely known as the first to observe, document, acknowledge and disclose the wellness industry’s abject failure to save money, boost morale, or even simply <a href="https://khannaonhealthblog.files.wordpress.com/2013/10/bna-health-policy-report-final-pdf_oct-14-2013.pdf" target="_blank">improve the health</a> of employees, through the conventional “pry, poke, prod and punish” programs that are now in vogue.  Since our findings that wellness has failed are irrefutable (<a href="http://www.theysaidwhat.net" target="_blank">They Said What?</a> displays many examples), on many occasions people would ask us some variation of: “OK, I’m convinced.  So what should we do instead?”  
  <p>
    Until recently, we never had an answer other than “serve healthier foods in the cafeteria and subsidize gym memberships.”  Both are good ideas, but don’t reduce costs noticeably if at all.  (Not to mention that last we checked, many workplaces don’t have cafeterias.)
  <p>
    Eventually it occurred to us that as more and more companies reached the same inevitable conclusion about the futility, cost, and morale damage caused by conventional wellness, alternatives to medicalizing the workplace would be sought.  Why not be the ones to provide it?
  <p>
    More <span class="glyphicon glyphicon-chevron-down"></span>
  <div class="more">
    <p>
      We asked ourselves, “What if we could solve all the problems of wellness?  What if we could save money, boost morale, improve health and engage employees…and do it without invading privacy, requiring personal health information, violating clinical guidelines, or shaming people who fail?  And what if we could guarantee each of those things?”
    <p>
      What we came up with is what you are looking at right now.  
    <p>
      Further, it turns out Quizzify can do much, much more than we originally envisioned.   Corporate communications, EEOC lawsuit “inoculation,” workplace challenges, training, benefits design changes…all can be “quizzified” for maximum reach and unique feedback on effectiveness, and most are guaranteed effective.   Contact us or more information.
    <p>
      PS  We were routinely advised not to disclose our role in this company, because many benefits consultants -- having been unable to answer questions we have publicly posed and/or having financial relationships with conventional vendors that they need to “place” -- would not reveal Quizzify’s existence to their clients.  Despite the risk of being blacklisted by some consulting firms, it would be the height of hypocrisy not to be totally transparent ourselves given our exposés of others for opacity.   
      Sometimes consulting firms, particularly those with long tenures serving an organization, may forget who they are representing.  It may be up to you to remind them that what you are paying them for is finding you the best solutions.
  </div>
</div>