<div class="faq">
  <div class="title">
    <h2>FAQ - About Quizzify</h2>
  </div>
  <br>
  <div class="faq-title-container">
    <div class="faq-title">You don’t seem to like conventional wellness programs, to put it mildly.  Does that mean we need to terminate our current program to use yours? <span class="glyphicon glyphicon-chevron-down"> </span>
    </div>
    <div class="faq-text-container">
      <p class="faq-text">
      A: You can keep your current program.  
      (1) Quizzify can be implemented side-by-side with conventional wellness.  Our EEOC Inoculation Guarantee (10x fees at risk) only requires that Quizzify be offered on an equal footing as an option.  
      (2) We are strong believers in wellness done for employees instead of to employees.  (We actually invented that phrase, on p. 122 of Cracking Health Costs.)    That means we can assist you in keeping the best components of your current program and swapping out the rest for Quizzify.  
      (3) We can even customize questions for you to teach employees about your current wellness program.  
      (4) Ironically we would like you to keep your current program as an option so that you can see how much better ours works in real time.  We guarantee it.
      </p>
    </div>
  </div>
  <div class="faq-title-container">
    <div class="faq-title"> How does our current wellness staff fit in with this model? <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    <div class="faq-text-container">
      <p class="faq-text">
      A:  They can focus on the part of their job that they’ve wanted to do all along:  helping employees become healthier. They will be thrilled to do wellness for employees instead of to them, trying to coax them into weigh-ins and blood draws that most want nothing to do with.  In terms of the difference in job satisfaction, one is reminded of the East Berlin border guard who, after being told to open the gates, remarked how much better he liked his job now that he could let people through instead of shooting them.
      </p>
    </div>
  </div>
  <div class="faq-title-container">
    <div class="faq-title">A few of the sample questions were hard.  If we don’t know the answers, how can we expect our employees to know them? <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    <div class="faq-text-container">
      <p class="faq-text">
      A: The point is that you and they shouldn’t know the answers already.  Otherwise, why ask the questions?  The idea is to learn the answers.  Having said that, we do review our questions periodically and adjust those which people are both spending a lot of time on and also not getting right.
      </p>
    </div>
  </div>
  <div class="faq-title-container">
    <div class="faq-title">
      We see what you are doing to make this material fun and cool, but we think some of these questions and the wording of some others is too edgy for our leadership to accept.  Can we change some working? <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    <div class="faq-text-container">
      <p class="faq-text">
      A:  We can reword, rework and remove questions as you like.
      </p>
    </div>
  </div>
  <div class="faq-title-container">
    <div class="faq-title">
       How many questions do you have in stock? <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    <div class="faq-text-container">
      <p class="faq-text">
      A:  Enough for 2 years, and we are writing them faster than you would use them.  We recommend only 100/year.  Too many is too much information all at once.  And in subsequent years we repeat the 30 most incorrectly answered questions from the previous year, along with the new ones. 
      </p>
    </div>
  </div>
  <div class="faq-title-container">
    <div class="faq-title"> 
      We keep raising our penalties and incentives and can’t get participation or engagement to increase.  Do we need to spend more? <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    <div class="faq-text-container">
      <p class="faq-text">
      A:  No.  We recommend budgeting no more than $100 per employee, out of your current incentive or penalty.   For programs that nobody wants to participate in, increasing the money at stake is the only blunt instrument available.  Quizzify stands on its own merits.  A small amount of money at stake adds to the fun but a large amount would make it too much like conventional wellness—all about getting paid and not about the offering itself.
      </p>
    </div>
  </div>
  <div class="faq-title-container">
    <div class="faq-title">
       Our benefits designs and choices are rather complex.  Can we use Quizzify to determine if employees are “getting” what we are trying to tell them? <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    <div class="faq-text-container">
      <p class="faq-text">
      A: Of course.  We wouldn’t have listed this as an FAQ if we couldn’t.  
      </p>
    </div>
  </div>
  <div class="faq-title-container">
    <div class="faq-title">
       Speaking of which, has anyone ever actually asked any of these FAQs? <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
    <div class="faq-text-container">
      <p class="faq-text">
      A:  Nope
      </p>
    </div>
  </div>
</div>