<div class="guarantee section"> 
<h2>Quizzify Pricing and Guarantee(s)</h2>
  Quizzify already has the “Gold Standard” validation from The Validation Institute for its guarantees. This means that it is one of the few population health companies that truly has an impact and captures that impact in its contractual language.   (Many vendors will “guarantee” improvements – but those are ”improvements” that would have happened anyway. Hence they can’t get this “Gold Standard” validation even though it’s free.)  <p>More <span class="glyphicon glyphicon-chevron-down"></span>
  <div class="more"><br>
  <p>
    Including customization, Quizzify will match the price of any “pry, poke, and prod” wellness vendor and will also place 50% of our fees at risk that each of these will improve by 10% or more over your current solution.  Depending on what is most important to you, you as the employer may allocate that 50% amongst the following (25% in Years 1 and 2, 50% in Year 3):</p>
  <ul>
    <li><strong>Utilization reduction (by Year 3)</strong> for the 20-30 most worthless procedures, diagnostics and interventions that employees undertake.  We can use our list or yours to identify the ones to target.  See “The Quizzify Speedbumps” for details on how we make that happen.</li>
    <li><strong>Wellness-Sensitive Medical Event Reduction (by Year 3)</strong>“Medicalizing the workplace” is not necessary or effective in reducing WSMEs.  We will either achieve a 10% reduction or else (if you have a concurrent conventional program in place for half your organization and offer Quizzify to the other hand), we will achieve a greater WSME reduction than your wellness vendor.</li>
    <li><strong>Employee participation or engagement.</strong>  You may measure this any way you like, as long as you measure it the same way for both Quizzify and any other vendor you use or have used.  Incentives/penalties need to be the same to use this part of the guarantee.  (Obviously more people will “participate” the higher the amount of money at stake.)</li>
    <li><strong>Employee satisfaction.</strong>  You may measure this any way you like as long as it is measured the same way vs. any other wellness vendor you use or have used, and as long as non-participants are included in the measurement, and as long as equal amounts of incentives/penalties are compared.  (For example, Quizzify with a $100 incentive can’t be guaranteed to have higher satisfaction than a conventional HRA/screening program with a $500 incentive.)</li>
  </ul>
  <p>
    Further, above and beyond that 50%, consider our unique EEOC “inoculation” guarantee:  If your company offers Quizzify in lieu of or in addition to (on an equal basis where employees can clearly choose one or the other) a conventional “pry, poke and prod” program, we guarantee up to 10x our fees that you will not lose an EEOC lawsuit over wellness.
  </div>
</div>