<div class="implementation section">
<h2>Implementation and Communications Plans</h2>
<p>
  Say goodbye to complex “strategic communications plans” where you have to figure out how to position an inherently unpalatable program as fun.  (One wellness vendor even has a “Chief Happy Officer.”)   And you can also say goodbye to fancy interfaces between your system and the vendor’s.   
<p>
  In sharp contrast to wellness (in which entire webinars are held on the subject of communications plans), the Quizzify communications plan is easy because the program is fun.  Not much convincing is needed.  As you can see from the sample questions, employees can start earning money and having fun in about 30 seconds.  <p>More <span class="glyphicon glyphicon-chevron-down"></span>
  <div class="more"> 
  We also have some downloadable notes that you can customize.  You’ll need to determine how much of your incentive/penalty gets allocated to Quizzify (which in term will determine the value of each question), whether you want the Quizzify app turned off during business hours because you think it might be too much fun and hence too distracting, whether you want to create inter-departmental competitions now or later, and probably a few other things specific to your organization.
  <p>
    The aspect of implementation that requires the most planning is: how does employee performance get tracked and financially accounted for?   Since (also in sharp contrast to wellness programs) we don’t require employees to provide names, we have a numbering system for people to keep track of their earnings and get reimbursed for them.  There are several ways of doing this.  First, we can offer vouchers with unique identifiers for every $20 (or $50 or any other number) earned.  They could exchange those vouchers for cash, health savings account deposits, penalty offsets, gift cards or whatever other “currency” you offer.  (We recommend that the first voucher be $20 even if the later ones are greater, in order to encourage the initial use.)  Second, we can provide an electronic interface with a unique identifier.   Finally, you could require employees to provide names to get paid.  This is easiest but will reduce your participation rate.  
  <p>
    Next, you may want to review the questions to see if there are any you don’t want include and/or you’d like us to reword.   We can also do other customization to the front end.
  <p>
    Finally, you may want to add company-specific questions and company-specific program prompts to the “Speedbumps,” so that employees can get on the emailing list for your own programs as well as the Speedbumps themselves.
  <br>
  <strong>Big-Bang Implementation</strong>
  <p>
    We can come to your site(s) with a professional quiz show host and start things off with a live trivia contest, featuring healthcare questions, company-specific questions and general trivia.  This is guaranteed to be the most fun employees have ever had at an official company event, or at least an official company event where alcohol isn’t served.
  </div>
</div>