<div class="integration section">
<h2>Integrating other programs and offerings</h2>
As a human resources executive, you are no doubt painfully aware that many of your well-intentioned offerings designed to assist employees go under- or unutilized, largely due to lack of awareness.<br>
More <span class="glyphicon glyphicon-chevron-down"></span>
  <div class="more"><br>
  <p>On the other hand, you can’t blast-email the information about all of them to all your employees.  That would be information overload by itself, and also competes with all the other information that employees need to absorb from other sources within your organization.   Quizzify offers the opportunity for employees to select the programs they most want to be on the mailing list for, so that they will receive only the information of most value to them.
  <p>Just the way employees “opt in” to the Speedbumps of interest to them, they can opt in to the mailing list to be kept apprised of the programs of most interest.   After each set of 20 questions, before they can continue, they select 2-4 topics from the Speedbumps and your own programs (that you customize the summary of).   Employees can’t skip them altogether, nor do we recommend letting them pick all the topics.  The choice of topics and number of topics to be chosen is up to you.
  </div>
</div>