<div class="places section">
<h2>Oh, the Places You’ll Go…</h2>
Quizzify is endlessly flexible and can become your go-to tool for training, corporate communications, benefit design changes, interdepartmental challenges, and much more.  Consider an application in corporate communications. Once employees get accustomed to the Quizzify tool, you can customize your own questions any time you want to determine whether employees are “getting” what you are trying to tell them, using this simple process:<br>
More<span class="glyphicon glyphicon-chevron-down"></span>
  <div class="more"><br>
<ol>
  <li>You send the memo (or however you communicate with them now)
  <li>The next day (or week or whenever), you ask them some questions and offer them $1/question less $.25 for each wrong answer.  You can hint that they can look up the answers.  (Since it is not easy to write a good question, we can write them for you.  For a reasonable fee, you just give us the information you want imparted and we’ll turn it into questions.)</li>
  <li>Many employees will indeed “cheat,” just like you suggested and review the communication you sent them – and then answer the questions and collect their money</li>
  <li>You will know in close-to-real-time reports how many people answered the questions, and which ones they generally got wrong despite the opportunity to look up the answers</li>
  <li>You can then either reword the memo with emphasis on the missed questions, or if most of the people are getting most of the questions, you can declare victory and get on with the rest of your life.</li>
</ol>
</div>
</div>