<div class="quiz_diff section">
  
<h2>The Differences Between Quizzify and Conventional Wellness Programs</h2>
 <p> Name an issue with your conventional wellness program, and Quizzify solves it.  And where relevant, we guarantee we will. <p>More <span class="glyphicon glyphicon-chevron-down"></span>
  <div class="more"><br>
  <TABLE>
    <tr>
      <th class="col-md-2">Issue</th>
      <th class="col-md-5"> Traditional Wellness Program Approach</th>
      <th class="col-md-5"> Quizzify Approach and Guarantee</th>
    <tr>
    <tr>
      <td class="col-md-2">Philosophy</td>
      <td class="col-md-5">Employees don’t get enough medical care, so employers can save money by encouraging, paying, and/or requiring employees to get more.</td>
      <td class="col-md-5">Many employees get too much medical care already.  The best approach is to help them learn how to pursue healthcare interventions only if and when appropriate</td>
    </tr>
    <tr>
      <td class="col-md-2">Cost Savings Target</td>
      <td class="col-md-5">Avoiding wellness-sensitive medical events (WSMEs), which account for less than 4% of your spending, most of which is not avoidable.  (Wellness vendors can’t save money on non-wellness-related medical care at all.)</td>
      <td class="col-md-5">Reducing waste and overuse, which account for about a third of your spending…and also reducing WSMEs by more than a wellness program would</td>
    </tr>
    <tr>
      <td class="col-md-2">Perceived invasion of employee privacy by asking intrusive questions, weighing them etc.</td>
      <td class="col-md-5">Explain that no one is supposed to see the results.</td>
      <td class="col-md-5">Don’t ask personal questions or weigh people.</td>
    </tr>
    <tr>
      <td class="col-md-2">Employees lying on health risk assessments, losing respect for your organization</td>
      <td class="col-md-5">Conveying to them the importance of telling the truth</td>
      <td class="col-md-5">Don’t put them in a position where they need to lie</td>
    </tr>
    <tr>
      <td class="col-md-2">Compliance with official screening guidelines </td>
      <td class="col-md-5">Don’t comply with guidelines.  (Vendors need to screen employees annually in order to make a profit.  Guidelines recommend far less frequent screening in order to avoid overdiagnosis and hazardous and expensive overtreatment.)</td>
      <td class="col-md-5">Teach employees how to comply with guidelines to keep themselves healthy without undue risk of overtreatment.</td>
    </tr>
    <tr>
      <td class="col-md-2">Requiring and storing personal health information (PHI)</td>
      <td class="col-md-5">Assure employees their information is safe, spend a lot of money (reflected in their price to you) for HIPAA compliance</td>
      <td class="col-md-5">Don’t require PHI…or even employee names</td>
    </tr>
    <tr>
      <td class="col-md-2">Employee resentment and morale damage</td>
      <td class="col-md-5">Recommend communications plan about how these programs will make employees happy whether they like it or not (ok, we’re exaggerating, but it’s a good line)</td>
      <td class="col-md-5">Create a program that’s fun and educational, and guarantee engagement and satisfaction</td>
    </tr>
    <tr>
      <td class="col-md-2">Measure outcomes</td>
      <td class="col-md-5">Compare participants to non-participants, even though that methodology is proven invalid
</td>
      <td class="col-md-5">Obtain www.validationinstitute.com Gold Standard validation</td>
    </tr>
    <tr>
      <td class="col-md-2">EEOC lawsuit concerns</td>
      <td class="col-md-5">None</td>
      <td class="col-md-5">Fees guaranteed 10-to-1 that you will not lose an EEOC wellness lawsuit.</td>
    </tr>
    <tr>
      <td class="col-md-2">Save money</td>
      <td class="col-md-5">Not without making up the methodology</td>
      <td class="col-md-5">Guaranteed, using valid methodology</td>
    </tr>
    <tr>
      <td class="col-md-2">Reduce the likelihood of overtreatment (30% of American healthcare spending is wasted)</td>
      <td class="col-md-5">Require screenings and physician visits regardless of need… bragging about how many risk factors they find and leading many employees into the “treatment trap.”</td>
      <td class="col-md-5">Educate employees that “just because it’s heathcare doesn’t mean it’s good for you."</td>
    </tr>
  </TABLE>
  </div>
</div>