<div class="reporting section">
  <h2>Reporting</h2>

  <p>Our standard reporting is weekly.   You’ll have a “dashboard” that will tell you what percentage of employees are participating, which questions they are answering right and wrong, which Speedbumps they are requesting, and how long they are spending on the app, among other things.
  <p>More <span class="glyphicon glyphicon-chevron-down"></span>
    <div class="more">  
      <p>Our ROI reporting is done annually.  Using the exacting specifications of the Validation Institute (rather than “we reduced risk factors among high-risk participants” or “we reduced your trend” charades), we provide you with a claims extraction template that asks you to pull the claims for the procedures, diagnostics and other items that we have guaranteed to reduce.  We commit to a turnaround time of 5 business days from correct completion of this template.  So theoretically, if you have 90-day claims runout, you could know in early April 2016 how you did in 2015!  Even better, if you use <a href="http://www.healthentic.com">www.healthentic.com</a> as your claims analytics engine you can get a 24-hour turnaround, as they have trued up their data warehouse specifications to match ours.
      <p>How exacting are these reporting specifications?  Your own organization will have met the qualifications for <a href="http://www.validationinstitute.com/validated-organizations/">the Validation Institute’s</a> “Member-facing organization” Gold Standard validation.  No other vendor can offer that.  
      <h2>Reporting on…Engagement???  Seriously???</h2>
      <p>We can also, uniquely, report on that elusive variable, the White Whale of Workplace Wellness:  engagement.
      <p>How, you might ask?
      <p>We have some questions where the explanation of the right answer is more than 100 words.  Instead of squeezing the entire explanation onto one screen, we have options at the bottom: "More" and "Next Question".   Since people have already gotten the answer right and already earned their money, there is absolutely no reason to read the rest of the explanation of the answer other than simply being engaged by the Quizzify quiz.  The ratio of people asking for more information to people racing through to the next question is your objective measure of engagement.  No other wellness program can objectively measure engagement.  
      <p>Sure, they and we can measure “participation,” but that’s not the same thing.  That’s driven by the money, not the inherent worthiness of the program.  Want to raise your participation rate?  Throw money at a program.  Want to improve your employee engagement?  Give them a program that actually interests them.
    </div>
  </div>
