<div class="team section">
  <h2>Management Team</h2>
  <h4>Al Lewis, Grand Inquisitor</h4>
  <p>
    Al Lewis wears multiple hats, both professionally and also to cover his bald spot. As an author, his critically acclaimed category-bestselling book on outcomes measurement, Why Nobody Believes the Numbers, chronicling and exposing the innumeracy of the health management field, was named 2012 healthcare book of the year in Forbes.  Cracking Health Costs:  How to Cut Your Company’s Health Costs and Provide Employees Better Care, released in 2013, was also a trade bestseller.  His 2014  Surviving Workplace Wellness, co-authored with Vik Khanna, has also received great accolades and excerpts have appeared in Harvard Business Review and elsewhere.
  <p>
    As a consultant, he is widely acclaimed for his expertise in population health outcomes and strategy, and in 2013 was named one of the unsung heroes changing health care forever. As a validator of outcomes, he has been able to obtain Gold Standard certification for many of his clients, and Quizzify, from the GE-Intel Validation Institute.  
  <p>
    He is also one of the population health field’s most acclaimed speakers, as well as a prolific author and interviewee on outcomes economics, having been featured in almost every major lay and healthcare publication. 
  <p>
    Before entering the population health field, he was a partner at Bain & Company.  He holds two degrees from Harvard, where he also taught economics, and his economic policy book was made into a show on the Washington, DC NPR affiliate.
  <p>
    But he still can’t get his kids to clean up their rooms.
</div>
