<div class="row page-header content">
  <div class="title text-center">
  <h2><strong> Just Because It’s Healthcare</strong> <em> Doesn’t Mean It’s Good for You</em> </h2>
  </div>
</div>

<div class="main-content">
stuff




</div>