<div class="row page-header content">
  <div class="title text-center">
  <h1><strong> Just Because It’s Healthcare</strong> <em> Doesn’t Mean It’s Good for You</em> </h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="item text-center col-md-4">
      <h4> “Gold Standard” Validation</h4>
      From The Validation Institute for its guarantees. This means that it is one of the few population health companies that truly has an impact and captures that impact in its contractual language.   (Many vendors will “guarantee” improvements – but those are <a href="http://theysaidwhat.net/2014/07/23/cigna001/" target="_blank">"improvements"</a> that would have happened anyway. Hence they can’t get this “Gold Standard” validation even though it’s free.) 
    </div>
    <div class="item text-center col-md-4">
      <h3><strong>Why Quizzify?</strong></h3>
      What if we could solve all the problems of wellness?  What if we could save money, boost morale, improve health and engage employees…and do it without invading privacy, requiring personal health information, violating clinical guidelines, or shaming people who fail?  And what if we could guarantee each of those things?<br>
      <%=link_to "More", "#"%>
    </div>
    <div class="item text-center col-md-4">
      <h4>Quizzify Guarantee</h4>
      Including customization, Quizzify will match the price of any “pry, poke, and prod” wellness vendor and will also place 50% of our fees at risk that each of these will improve by 10% or more over your current solution.  Depending on what is most important to you, you as the employer may allocate that 50% amongst the following (25% in Years 1 and 2, 50% in Year 3):
    </div>
  </div>

<script>

var container = document.querySelector('#container');
var msnry = new Masonry( container, {
  // options
  columnWidth: 200,
  itemSelector: '.item'
});

</script>