<div class="row page-header content">
  <div class="title text-center">
  <h1><strong> Just Because It’s Healthcare</strong> <em> Doesn’t Mean It’s Good for You</em> </h1>
  </div>
</div>

<div class="container-fluid">
  <br><br>
  <div class="main-content container head">
  <h2 class="mission text-center">Quizzify teaches your employees to be health ninjas,<br> One quiz at a time</h2>
  <div class="row">
    <div class="item text-center col-md-6">
      <h3><strong>Our “Gold Standard” Validation</strong></h3>
      <span class="vcenter">From The Validation Institute. Quizzify is one of the few population health companies that truly has an impact and captures that impact in its contractual language.<br> <p>(Many vendors will “guarantee” improvements – but those are <a href="http://theysaidwhat.net/2014/07/23/cigna001/" target="_blank">"improvements"</a> that would have happened anyway. Hence they can’t get this “Gold Standard” validation even though it’s free)</span>
    </div>
    <div class="item text-center col-md-6">
      <h3><strong>Our Guarantee</strong></h3>
      <span class="vcenter">We save you money, boost morale, improve health and engage employees…and do it without invading privacy, requiring personal health information, violating clinical guidelines, or shaming people who fail.<p>Because we're so sure of our impact, <a href="#guarantee">we put 50% of our fees on the line</a> and will match the price of any “pry, poke, and prod” wellness vendor.</span>
    </div>
  </div>
</div>
<br><br>

<% sections = ["about", "quiz_diff", "guarantee", "places", "speedbumps", "integration", "quiz_qs", "implementation", "customization", "reporting", "team", "brokers", "faq"] %>

<!-- /////////// Render Other Partials in Welcome Folder ////////////////-->

<% sections.each do |section| %>

  <section id=<%=section%>> </section>
  <div class="main-content container">
     <%= render section %>
  </div>

<%end%>

<!-- ////////// Partials End //////////////////////-->
